<div class="left sidebar">
    <div class="sidebar-item menu">
        <h3 class="lined">
            Services &amp; Pricing
            <span class="bolded-line"></span>
        </h3>
        <ul class="nav nav-pills nav-stacked">
            <li <% if current_page?(controller: 'services', action: 'index') %>class="active"<% end %>><%= link_to "Our Services", services_path %></li>
            <% services.each do |item| %>
              <li <% if current_page?(controller: 'services', action: 'show', id: item.id) %>class="active"<% end %>><%= link_to item.title, item %></li>
            <% end %>
        </ul>
    </div>
</div><!-- /sidebar -->