<div class="title-area">
    <div class="container">
        <div class="row">
            <div class="span10">
                <h1>Hairpress Blog</h1>
            </div>
            <%= render "shared/socialicon" %>
        </div>
    </div>
</div>

<div class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home Page</a> <span class="divider"></span></li>
                    <li class="active"><a href="blog.html">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /breadcrumbs -->

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="span9">
                <div class="row">

                    <div class="span9">
                        <div class="lined">
                            <h2><span class="light">BLOG</span> POST WITH JUST REGULAR TEXT</h2>
                            <div class="meta-data">
                                JANUARY 6, 2013 &nbsp; | &nbsp; By: <a href="#">Primoz Cigler</a> &nbsp; | &nbsp; <a href="single.html#blog-comments">9 Comments</a>
                            </div>
                            <span class="bolded-line"></span>
                        </div>
                        <p>To make an appointment you have to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam ultrice 
                            nulla ed leo malesuada commodo bibendum orci vi verra. Donec suscipit vehicula turpis sed lutpat. To make an appointment you have 
                            to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam ultrice nulla ed leo malesuada commodo 
                            To make an appointment you have to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam 
                            nulla ed leo malesuada commodo bibendum orci vi verra. Donec suscipit vehicula turpis sed lutpat. To make an appointment you
                            to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam ultrice nulla ed leo malesuada commodo</p>
                        <p><a href="single.html" class="btn btn-theme no-bevel">READ MORE</a></p>
                    </div><!-- /blogpost -->

                    <div class="span9">
                        <div class="divide-line">
                            <div class="icon icons-scissors"></div>
                        </div>
                    </div>

                    <div class="span9">
                        <div class="lined">
                            <h2><span class="light">POST</span> WITH ONE PREVIEW IMAGE</h2>
                            <div class="meta-data">
                                JANUARY 6, 2013 &nbsp; | &nbsp; By: <a href="#">Jaka Smid</a> &nbsp; | &nbsp; <a href="single.html#blog-comments">9 Comments</a>
                            </div>
                            <span class="bolded-line"></span>
                        </div>
                        <div class="blog-content">
                            <img src="http://placehold.it/217x167" alt="" class="pull-right" width="217" height="167" />
                            <p>To make an appointment you have to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam ultrice 
                                nulla ed leo malesuada commodo bibendum orci vi verra. Donec suscipit vehicula turpis sed lutpat. To make an appointment you have 
                                to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam ultrice nulla ed leo malesuada commodo 
                                To make an appointment you have to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam 
                                nulla ed leo malesuada commodo bibendum orci vi verra. Donec suscipit vehicula turpis sed lutpat. To make an appointment you
                                to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam ultrice nulla ed leo malesuada commodo</p>
                            <p><a href="single.html" class="btn btn-theme no-bevel">READ MORE</a></p>
                        </div>
                    </div><!-- /blogpost -->

                    <div class="span9">
                        <div class="divide-line">
                            <div class="icon icons-scissors"></div>
                        </div>
                    </div>

                    <div class="span9">
                        <div class="lined">
                            <h2><span class="light">BLOG</span> POST WITH IMAGES</h2>
                            <div class="meta-data">
                                JANUARY 6, 2013 &nbsp; | &nbsp; By: <a href="#">Jaka Smid</a> &nbsp; | &nbsp; <a href="single.html#blog-comments">9 Comments</a>
                            </div>
                            <span class="bolded-line"></span>
                        </div>
                        <div class="blog-content">
                            <p>To make an appointment you have to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam ultrice 
                                nulla ed leo malesuada commodo bibendum orci vi verra. Donec suscipit vehicula turpis sed lutpat. To make an appointment you have 
                                to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam ultrice nulla ed leo malesuada commodo </p>
                            <p>
                                <img src="http://placehold.it/216x148" alt="" width="216" height="148" />
                                <img src="http://placehold.it/136x148" alt="" width="136" height="148" />
                                <img src="http://placehold.it/166x148" alt="" width="166" height="148" />
                            </p>
                            <p>To make an appointment you have to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam 
                                nulla ed leo malesuada commodo bibendum orci vi verra. Donec suscipit vehicula turpis sed lutpat. To make an appointment you
                                to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam ultrice nulla ed leo malesuada commodo</p>
                            <p><a href="single.html" class="btn btn-theme no-bevel">READ MORE</a></p>
                        </div>
                    </div><!-- /blogpost -->

                    <div class="span9">
                        <div class="divide-line">
                            <div class="icon icons-scissors"></div>
                        </div>
                    </div>

                    <div class="span9">
                        <div class="lined">
                            <h2><span class="light">ANOTHER</span> WITH PREVIEW IMAGE ON THE LEFT</h2>
                            <div class="meta-data">
                                JANUARY 6, 2013 &nbsp; | &nbsp; By: <a href="#">Primoz Cigler</a> &nbsp; | &nbsp; <a href="single.html#blog-comments">9 Comments</a>
                            </div>
                            <span class="bolded-line"></span>
                        </div>
                        <div class="blog-content">
                            <img src="http://placehold.it/217x167" alt="" class="pull-left" width="217" height="167" />
                            <p>To make an appointment you have to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam ultrice 
                                nulla ed leo malesuada commodo bibendum orci vi verra. Donec suscipit vehicula turpis sed lutpat. To make an appointment you have 
                                to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam ultrice nulla ed leo malesuada commodo </p>
                            <p>To make an appointment you have to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam 
                                nulla ed leo malesuada commodo bibendum orci vi verra. Donec suscipit vehicula turpis sed lutpat. To make an appointment you
                                to vehicula turpis sed lutpat Quisque vitae quam neque. Morbi cilisis placerat dapibus. Etiam ultrice nulla ed leo malesuada commodo</p>
                            <p><a href="single.html" class="btn btn-theme no-bevel">READ MORE</a></p>
                        </div>
                    </div><!-- /blogpost -->

                </div>
            </div><!-- /blog -->

            <div class="span3">
                <div class="right sidebar">

                    <div class="sidebar-item search">
                        <div class="lined">
                            <h2>SEARCH</h2>
                            <h5>Find Something</h5>
                            <span class="bolded-line"></span>
                        </div>
                        <form action="blog-search.html" class="form">
                            <div class="input-append">
                                <input class="search-width" id="appendedInputButton" type="text">
                                <button class="btn btn-theme" type="submit">Go</button>
                            </div>
                        </form>
                    </div><!-- /search -->

                    <div class="sidebar-item last-comments">
                        <div class="lined">
                            <h2><span class="light">LAST</span> COMMENTS</h2>
                            <h5>What Others Have To Say</h5>
                            <span class="bolded-line"></span>
                        </div>
                        <ul class="unstyled">
                            <li>James Doe on <a href="#">Lorem Ipsum Dolor Sit Amet Et to Make an Appoitnemtn</a></li>
                            <li>Jaka Smid on <a href="#">Lorem Ipsum Dolor Sit Amet Et to Make an Appoitnemtn</a></li>
                            <li>Primoz Cigler on <a href="#">Lorem Ipsum Dolor Sit Amet Et to Make an Appoitnemtn</a></li>
                            <li>James Doe on <a href="#">Lorem Ipsum Dolor Sit Amet Et to Make an Appoitnemtn</a></li>
                            <li>Jaka Smid on <a href="#">Lorem Ipsum Dolor Sit Amet Et to Make an Appoitnemtn</a></li>
                            <li>Primoz Cigler on <a href="#">Lorem Ipsum Dolor Sit Amet Et to Make an Appoitnemtn</a></li>
                        </ul>
                    </div><!-- /last comments -->

                    <div class="sidebar-item archive">
                        <div class="lined">
                            <h2>ARCHIVE</h2>
                            <h5>Old Stuff</h5>
                            <span class="bolded-line"></span>
                        </div>
                        <ul class="unstyled">
                            <li><a href="#">May - 2011</a></li>
                            <li><a href="#">June - 2011</a></li>
                            <li><a href="#">July - 2011</a></li>
                            <li><a href="#">August - 2011</a></li>
                            <li><a href="#">September - 2011</a></li>
                            <li><a href="#">October - 2011</a></li>
                            <li><a href="#">November - 2011</a></li>
                            <li><a href="#">December - 2011</a></li>
                            <li><a href="#">January - 2011</a></li>
                        </ul>
                    </div><!-- /archive -->

                </div>
            </div>

        </div><!-- / -->
    </div><!-- /container -->
</div>