<div class="title-area">
    <div class="container">
        <div class="row">
            <div class="span10">
                <h1>Contact Us</h1>
            </div>
            <div class="social-icons">
                <a class="social-icon rss" href="#"><span class="inactive"></span></a>
                <a class="social-icon mail" href="#"><span class="inactive"></span></a>
                <a class="social-icon twitter" href="https://twitter.com/proteusnetcom"><span class="inactive"></span></a>
                <a class="social-icon facebook" href="http://www.facebook.com/ProteusNet"><span class="inactive"></span></a>
                <a class="social-icon youtube" href="a"><span class="inactive"></span></a>
                <a class="social-icon google" href="#"><span class="inactive"></span></a>
                <a class="social-icon pinterest" href="#"><span class="inactive"></span></a>
                <a class="social-icon skype" href="skype:primozcigler?call"><span class="inactive"></span></a>
                <a class="social-icon stumble" href="#"><span class="inactive"></span></a>
                <a class="social-icon tumblr" href="#"><span class="inactive"></span></a>
                <a class="social-icon linkedin" href="#"><span class="inactive"></span></a>
                <a class="social-icon vimeo" href="#"><span class="inactive"></span></a>
                <a class="social-icon flickr" href="#"><span class="inactive"></span></a>
                <a class="social-icon instagram" href="#"><span class="inactive"></span></a>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home Page</a> <span class="divider"></span></li>
                    <li class="active"><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /breadcrumbs -->

<iframe class="full-map" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Ljubljana,+Slovenia&amp;aq=0&amp;oq=lju&amp;sll=46.149166,14.986011&amp;sspn=3.105366,8.453979&amp;ie=UTF8&amp;hq=&amp;hnear=Ljubljana,+Slovenia&amp;t=h&amp;ll=46.056437,14.508047&amp;spn=0.021919,0.102997&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="span3">

                <div class="left sidebar">

                    <div class="sidebar-item">
                        <div class="lined">
                            <h2><span class="light">OUR</span> ADDRESS</h2>
                            <h5>Where can you find us?</h5>
                            <span class="bolded-line"></span>
                        </div>
                        <strong class="black-clr">ProteusNet d.o.o.</strong> <br />
                        Prežihova ulica 17<br />
                        8250 Brežice <br />
                        Slovenia<br /><br />

                        <a href="#" class="read-more">VIEW MAP -</a> <br /><br />

                        Phone: <strong class="black-clr">+386 01 2345-6789</strong> <br />
                        Fax: <strong class="black-clr">+386 01 2345-6789</strong> <br />
                        Mail: <strong class="black-clr">info@proteusthemes.com</strong> <br />
                        Web: <strong class="black-clr">www.proteusthemes.com</strong>

                    </div>

                </div><!-- /sidebar -->

            </div>

            <%= render 'form' %>
        </div>
    </div>
</div><!-- /container -->
