<div class="title-area">
    <div class="container">
        <div class="row">
            <div class="span10">
                <h1>Gallery</h1>
            </div>
            <%= render "shared/socialicon" %>
        </div>
    </div>
</div>

<div class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home Page</a> <span class="divider"></span></li>
                    <li class="active"><a href="gallery.html">Gallery</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- /breadcrumbs -->

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="left sidebar">
                    <div class="sidebar-item gallery-menu">
                        <h3 class="lined">
                            Gallery
                            <span class="bolded-line"></span>
                        </h3>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Season 2006</a></li>
                            <li><a href="#">Season 2007</a></li>
                            <li><a href="#">Season 2008</a></li>
                            <li class="active"><a href="#">Season 2009</a></li>
                            <li><a href="#">Season 2010</a></li>
                            <li><a href="#">Season 2011</a></li>
                            <li><a href="#">Season 2012</a></li>
                            <li><a href="#">Season 2013</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span9">
                <div class="lined">
                    <h2><span class="light">GALLERY</span> 2008</h2>
                    <h5>Yet another subtitle</h5>
                    <span class="bolded-line"></span>
                </div>
                <div>
                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                    <h5>JANUARY 1st, 2013</h5>
                </div>
                <section class="gallery clearfix">
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                </section>

                <div class="bolded-line"></div>

                <div>
                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                    <h5>JANUARY 1st, 2013</h5>
                </div>
                <section class="gallery clearfix">
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                </section>

                <div class="bolded-line"></div>

                <div>
                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                    <h5>JANUARY 1st, 2013</h5>
                </div>
                <section class="gallery clearfix">
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                    <div class="picture">
                        <a href="http://placehold.it/500x350" rel="lightbox[gallery]">
                            <img width="91" height="91" alt="" src="http://placehold.it/91x91">
                            <span class="img-overlay">
                                <span class="icon icons-zoom"></span>
                            </span>
                        </a>
                    </div>
                </section>

            </div>
        </div><!-- /gallery left -->
    </div><!-- /container -->
</div>